.get {
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.0001);
  &__title {
    color: $light-purple-color;
    font-size: $font-size-sm-av;
    line-height: $line-height-sm-av;
    font-style: normal;
    font-weight: $font-weight-bold;
    padding: 36px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 38px;
  }
  &__item {
    padding: 40px 25px 0;
  }
  &__item-text {
    padding-top: 27px;
  }
  &__item-title {
    color: $revolutionary-color;
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: $font-weight-normal;
    padding-bottom: 14px;
  }
  &__item-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: $font-size-small-subtitle;
    line-height: $line-height-small-subtitle;
    font-weight: $font-weight-normal;
    color: $text-version;
    text-align: center;
  }
  &__img {
    overflow: hidden;
    margin-bottom: 16px;
  }
}
@media screen and (min-width:$tablet) {
  .get {
    &__title {
      font-size: $font-size-average;
      line-height: $line-height-average;
      padding-top: 62px;
    }
    &__list {
      padding: 50px 0 76px;
    }
    &__item {
      padding: 0;
    }
    &__item-link {
      display: grid;
      grid-template-columns: 25% 75%;
    }
    &__item-text {
      padding: 0 0 50px;
      text-align: left;
    }
    &__img {
      display: grid;
      overflow: hidden;
      float:right;
    }
    &__img-editor {
      position: relative;
      width: 100%;
    }
  }
}
@media screen and (min-width: $desctop) {
  .get {
    background-color: #F4F4F4;
    justify-content: space-between;
    &__wrap {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-areas: "one two";
    }
    &__title {
      grid-area: two;
      font-size: $font-size-average;
      line-height: $line-height-average;
      font-weight: $font-weight-bold;
      padding-right: 0;
      padding-left: 0;
      padding-top: 80px;
    }
    &__list {
      grid-area: one;
      padding: 65px 0 0 50px;
    }
    &__item {
      padding: 0 0 30px 10px;
    }
    &__item-text {
      padding: 0 10px 0 0;
      min-width: auto;
    }
    &__item-link {
      display: grid;
      grid-template-columns: 25% 75%;
    }
    &__img {
      grid-area: two;
      margin: 180px 0 30px;
      overflow: hidden;
    }
  }
}
