.header {
  background-color: $header-bcg;
  &__navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 35px 5px;
  }
  &__logo {
    cursor: pointer;
    &-img {
      width: 43px;
      height: 41px;
      background-image: url("../../img/header/forkio-logo-purple.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-text {
      display: none;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 95%;
    .nav {
      background-color: $mobile-menu-bcg;
      width: 100%;
      &__list {
        font-size: 26px;
        line-height: 28px;
        color: $white-color;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
      }
      &__list-item {
        font-weight: $font-weight-bold;
        padding:16px 0;
        border-bottom: 3px solid #3B3B3B;
      }
      &__list-item a {
        font-weight: $font-weight-bold;
        display: block;
        padding-left: 30px;
        border-left: 8px solid transparent;
      }
      &__list-item a:hover {
        font-weight: $font-weight-bold;
        color: $light-purple-color;
        border-left: 8px solid $light-purple-color;
      }
    }
  }
  &__button {
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: $font-weight-bold;
    color: $white-color;
    background-color: $light-purple-color;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 40px;
    width: 120px;
    padding: 10px 0;
  }
}
.intro {
  background-image: url("../../img/header/header-bcg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  &__info {
    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 50px;
    }
    &-text-title {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
      font-weight: $font-weight-bold;
      color: $white-color;
      margin-bottom: 25px;
    }
    &-text-subtitle {
      font-size: 18px;
      line-height: 24px;
      font-style: $font-weight-normal;
      color: $light-purple-color;
      margin-bottom: 16px;
    }
    &-text-version {
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: $text-version;
    }
  }
}
.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  &__button {
    background: $light-purple-color;
    font-size: 18px;
    line-height: 20px;
    font-weight: $font-weight-bold;
    border-radius: 40px;
    border: 1px solid transparent;
    color: $white-color;
    padding: 15px 0;
    width: 290px;
    margin-bottom: 28px;
  }
  &__text {
    font-size: $font-size-small-subtitle;
    line-height: $font-size-small;
    color: $text-version;
  }
}
.collapsable-input {
  display: none;
}
#collapsable-menu:checked ~ #collapsable {
  display: block;
}
.header__switch-label {
  width: 26px;
  height: 26px;
  order: 3;
  position: relative;
  display: block;
  cursor: pointer;
}
.header__switch-label span {
  width: 26px;
  height: 3px;
  border-radius: 1px;
  background-color: $white-color;
  display: block;
  position: absolute;
  top: 20px;
  right: 3px;
}
.header__switch-label span::before {
  content: '';
  width: 15px;
  height: 3px;
  border-radius: 10px;
  background-color: $white-color;
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
}
.header__switch-label span::after {
  content: '';
  width: 26px;
  height: 3px;
  border-radius: 10px;
  background-color: $white-color;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
}
#collapsable-menu:checked ~ .header__switch-label > span {
  transform: rotate(45deg);
}
#collapsable-menu:checked ~ .header__switch-label > span::before {
  top: 0;
  transform: rotate(0);
}
#collapsable-menu:checked ~ .header__switch-label > span::after {
  top: 0;
  transform: rotate(90deg);
}
@media screen and (min-width: $tablet) {
  .header {
    &__navigation {
      display: flex;
      flex-wrap: wrap;
    }
    &__logo {
      display: flex;
      align-items: center;
      &-img {
        margin-right: 17px;
      }
      &-text {
        display: inline-block;
        font-size: 24px;
        line-height: 16px;
        font-style: normal;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $light-purple-color;
      }
    }
    &__switch-label {
      display: none;
    }
    &__menu {
      display: flex;
      position: static;
      order: 3;
      flex-basis: 100%;
      margin-top: 20px;
    }
    .nav {
      background-color: unset;
      max-width: 570px;
      margin: 0 auto;
      &__list {
        display: flex;
        justify-content: space-between;
        font-size: $font-size-small;
        line-height: $line-height-small;
        color: $light-purple-color;
      }
      &__list-item {
        font-weight: $font-weight-bold;
        border-bottom: unset;
        padding: 0;
      }
      &__list-item a {
        font-weight: $font-weight-bold;
        border-left: unset;
        padding-left: 0;
      }
      &__list-item a:hover {
        font-weight: $font-weight-bold;
        color: $white-color;
        padding-left: unset;
        border: unset;
      }
    }
    &__button {
      width: 145px;
      font-size: $font-size-small;
      line-height: $line-height-small;
    }
    &__button:hover {
      background-color: $white-color;
      color: $light-purple-color;
    }
  }
  .intro {
    &__info-text {
      &-title {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 15px;
      }
      &-subtitle {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        line-height: 24px;
        font-style: $font-weight-normal;
      }
    }
  }
  .action {
    margin-top: -35px;
    &__button {
      width: 390px;
      padding: 25px 0;
    }
    &__button:hover {
      background-color: $white-color;
      color: $light-purple-color;
      border-color: $light-purple-color;
    }
  }
}
@media screen and (min-width: $desctop) {
  .header {
    background-color: #010005;
    &__navigation {
      max-width: 1200px;
      margin: 0 auto;
      padding: 35px 30px;
    }
    &__logo:hover > &__logo-img {
      background-image: url("../../img/header/forkio-logo-white.png");
    }
    &__logo:hover > &__logo-text {
      color: $white-color;
    }
    &__menu {
      order: 2;
      flex-basis: unset;
      margin-top: 0;
      max-width: 520px;
      margin-right: 40px;
      margin-left: auto;
    }
    .nav {
      display: flex;
      align-items: center;
      &__list {
        width: 100%;
      }
    }
    &__button {
      order: 3;
    }
  }
  .intro {
    min-height: 700px;
    margin-top: -1px;
    background-position: bottom;
    &__info-text {
      &-title {
        font-size: 82px;
        line-height: 83px;
        margin-bottom: 20px;
      }
      &-subtitle {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        line-height: 30px;
        font-style: $font-weight-normal;
      }
      &-version {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}