.pricing {
    background-color: rgb(75, 59, 78);
    color: $white-color;
    padding: 12px 0 13px;
    &__title {
        font-size: 28px;
        line-height: 42px;
        font-weight: $font-weight-bold;
        text-align: center;
        margin-bottom: 32px;
    }
    .pricing-list {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 14px auto;
            max-width: 256px;
        }
        &__item:nth-of-type(3) {
            max-width: 290px;
        }
        &__item-category {
            font-size: 24px;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.08);
            opacity: 0.9;
            width: 100%;
            padding: 40px 0;
        }
        &__item-category--show {
            padding: 47px 0;
            background-color: rgba(0, 0, 0, 0.11);
        }
        &__item-cost {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.11);
            width: 100%;
            text-align: center;
        }
        &__item-cost--show {
            background-color: #463048;
        }
        &__item-cost-inner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 60px;
            line-height: 62px;
            font-weight: 700;
            padding: 30px 0 20px;
        }
        &__item-cost-inner--show {
            font-size: 82px;
        }
        &__item-cost-inner:before {
            content: '$';
            font-weight: $font-weight-normal;
            position: relative;
            display: block;
        }
        &__item-cost-subtitle {
            font-size: $font-size-small-subtitle;
            line-height: $line-height-small-subtitle;
            text-transform: uppercase;
        }
        &__item-cost-subtitle::after {
            content: '';
            background: $light-purple-color;
            display: block;
            width: 60px;
            height: 5px;
            margin: 38px auto 0;
        }
        &__item-cost-advantage {
            font-size: $font-size-small;
            line-height: $line-height-small;
            text-transform: capitalize;
            padding-top: 30px;
        }
        &__item-cost-advantage--visibility {
            margin-bottom: 67px;
        }
        &__item-cost-support {
            text-transform: capitalize;
            font-size: $font-size-small;
            line-height: $line-height-small;
            padding: 7px 0 38px 0;
        }
        &__item-cost-support--show {
            padding: 7px 0 83px 0;
        }
        &__item-cost-btn {
            font-size: $font-size-small;
            line-height: $line-height-small;
            text-transform: uppercase;
            color: $white-color;
            width: 160px;
            background-color: rgba(255, 255, 255, 0.15);
            border: 1px solid transparent;
            border-radius: 40px;
            padding: 15px 17px;
            cursor: pointer;
            margin: 0 auto 38px auto;
        }
        &__item-cost-btn--show {
            font-size: $font-size-small;
            padding: 19px 29px;
            width: 190px;
        }
    }
}

@media screen and (min-width: $tablet) {
    .pricing {
        padding: 4px 0 65px;
        background-image: url(../../img/section_pricing/pricing_background.png);
        background-repeat: no-repeat;
        background-size: cover;
        &__title {
            font-size: $font-size-average;
            line-height: $line-height-average;
            margin-bottom: 39px;
        }
        .pricing-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            max-width: 600px;
            margin: 0 auto;
            &__item {
                align-content: center;
                align-self: center;
                margin-bottom: 42px;
                max-width: 257px;
                width: 100%;
            }
            &__item:nth-of-type(3) {
                max-width: 299px;
            }
        }
    }
}

@media screen and (min-width: $desctop) {
    .pricing {
        background-image: url(../../img/section_pricing/pricing_background.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 8px 0 80px;
        &__wrap {
            max-width: 1200px;
            margin: 0 auto;
        }
        &__title {
            font-size: $font-size-medium;
            line-height: $line-height-medium;
            margin-bottom: 60px;
        }
        .pricing-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-content: center;
            gap: 14px;
            max-width: 1200px;
            &__item {
                max-width: 257px;
                width: 100%;
                place-content: center;
            }
            &__item:nth-of-type(3) {
                max-width: 299px;
            }
        }
    }
}

