.revolutionary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 26px 70px;
    &__title {
        font-size: 26px;
        line-height: 28px;
        font-weight: $font-weight-bold;
        font-style: normal;
        text-transform: uppercase;
        color: #635C73;
        padding-bottom: 27px;
    }
    &__subtitle {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: $font-weight-normal;
        font-style: normal;
        color: $revolutionary-color;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(27, 31, 35, .04), inset 0 1px 0 hsla(0, 30%, 100%, .10);
        margin: 20px 5px;
    }
    &__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #d6d6d6;
        border-right: 1px solid rgba(27, 31, 35, .15);
        padding: 2px;
        font-size: 12px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        font-weight: 700;
    }
    &__img {
        fill: #6a878d;
    }
    &__text {
        padding: $padding-svg;
    }
    &__details {
        font-size: 12px;
        font-weight: 700;
        padding: $padding-svg;
        background-color: $white-color;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: $tablet) {
    .revolutionary {
        padding: 94px 39px 98px;
        &__title {
            font-size: $font-size-average;
            line-height: $line-height-average;
            padding-bottom: 33px;
        }
        &__subtitle {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 32px;
            padding-bottom: 24px;
        }
    }
}
@media screen and (min-width: $desctop) {
    .revolutionary {
        padding: 66px 155px 75px;
        max-width: 861px;
        margin: 0 auto;
        &__title {
            font-size: 54px;
            line-height: 54px;
            padding-bottom: 35px;
        }
        &__subtitle {
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            line-height: 30px;
            padding-bottom: 13px;
        }
    }
}

