.talking {
  background-color: #4a3b4e;
  background-image: url("../../img/section_about/about-bcg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 50%;
  color: $white-color;
  padding: 40px 20px 70px;
  margin-bottom: -10px;
  &__title {
    font-size: $font-size-average;
    line-height: $line-height-average;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 50px;
  }
  &__subtitle {
    display: none;
  }
  .review-list {
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 45px;
    }
    &__item-logo {
      margin-bottom: 30px;
    }
    &__item-text {
      font-family: 'Lato', sans-serif;
      font-style: italic;
      text-align: center;
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
      line-height: 24px;
    }
  }
}
@media screen and (min-width: $tablet) {
  .talking {
    background-size: cover;
    padding: 85px 10px;
    &__title {
      font-size: $font-size-average;
      line-height: $line-height-average;
    }
    &__subtitle {
      display: block;
      font-size: $font-size-small-subtitle;
      line-height: $line-height-small-subtitle;
      color: #A291A5;
      padding-bottom: 20px;
      border-bottom: 2px solid rgba(100, 87, 102, .2);
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }
    .review-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 60px 50px;
      max-width: 770px;
      margin: 0 auto;
      &__item {
        margin-bottom: 0;
        align-self: baseline;
      }
    }
  }
}
@media screen and (min-width: $desctop) {
  .talking {
    padding: 100px 60px 80px;
    &__title {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
      font-weight: $font-weight-bold;
      margin-bottom: 80px;
    }
    &__subtitle {
      max-width: 880px;
      margin: 60px auto 0 auto;
    }
    .review-list {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      max-width: 1200px;
      gap: 90px 90px;
    }
  }
}

