$header-bcg: #27262A;
$light-purple-color: #8D81AC;
$white-color: #FFFFFF;
$mobile-menu-bcg: #333333;
$revolutionary-color: #323232;
$text-version: #848E97;
$mobile: 320px;
$tablet: 481px;
$desctop: 993px;
$font-size-small-subtitle: 14px;
$font-size-small: 16px;
$font-size-sm-av: 32px;
$font-size-average: 42px;
$font-size-medium: 48px;
$line-height-small-subtitle: 16px;
$line-height-small: 18px;
$line-height-sm-av: 38px;
$line-height-average: 44px;
$line-height-medium: 50px;
$font-weight-normal: normal;
$font-weight-bold: bold;
$padding-svg: .3rem .5rem;



