@import '../../node_modules/reset-css/sass/reset';
@import '_variables';
@import '_mixins';
@import '_reset';
@import 'sections/sections';
:root {
    font-size: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 320px;
}
.wrapper {
    padding: 0 10px;
}
button {
    cursor: pointer;
}